---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  # - ./scrapeconfig.yaml  # disabled: expanse.internal is down
  - ./grafanadashboard.yaml
