---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
#  - ./externalsecret.yaml   not used: secret managed by vaultwarden-sync
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./prometheusrule.yaml
