---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: headscale-data
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn-production-v1
  resources:
    requests:
      storage: 1Gi
