---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kubernetes-replicator
spec:
  interval: 15m
  timeout: 5m
  chart:
    spec:
      chart: kubernetes-replicator
      version: 2.12.2
      sourceRef:
        kind: HelmRepository
        name: mittwald
      interval: 1h
  values:
    serviceAccount:
      create: true
      annotations: {}
      name: ""
      privileges:
        - apiGroups: [""]
          resources: ["secrets"]
